@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

*{
  margin: 0;
 background-color: #13141f;;
}

.header {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

.header a {
  color: #9682c8;  
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding-right: 8px;
  font-weight: 400;
  
}
.header a:hover{
    color: white;
    font-size: 17px;
}
hr{
  border: none;
  background-color: #9682c8;  
  height: 2px;
}
#imagem_navas{
  display: inline-block;
  width: 300px;
  
}
#imagem_navas img {
 width: 300px;
 margin-top: 100px;
 margin-left: 140px;      
}
#profissao{
  display: inline-block;
  width: 200px;
  margin-left: 200px;
  font-size: 15px;
  color: #9682c8;
  text-align: center;
  
}
#profissao h2{
  color: #9682c8;
  font-size: 30px;
  width: 540px;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#profissao p{
  color: white;
   font-family: "Poppins", sans-serif;
   width: 540px;
   margin-bottom: 20px;
}
#quem_sou h2{
  text-align: center;
  width: 980px;
  font-size: 30px;

}
#quem_sou p{
  color: white;
  width: 740px;
  margin-left: 380px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}
.quem_sou_eu h2 {
  color: #9682c8;
  margin-left: 300px;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}
.habilidades h2{
  color: #9682c8;
  margin-top: 100px;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.habilidades{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#git {
  width: auto;
  height: 50px;
   margin-right: 20px;
   margin-top: 20px;
   background-color: white;
   padding: 50px;
   border-radius: 20px;

}
#css {
  width: auto;
  height: 100px;
  margin-top: 20px;
  background-color: white;
   padding: 30px;
   border-radius: 20px;
}
#html {
  width: auto;
  height: 100px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
   padding: 30px;
   border-radius: 20px;
}
#projeto{
     color: #9682c8;
     text-align: center;
     margin-top: 100px;
}
.Projetos{
    text-align: center;
    margin-bottom: 50px;
}

#projeto{
    font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    padding-bottom: 20px;
}
#contato{
    color: #9682c8;
    text-align: center;
    font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin-bottom: 20px;
}
.contatos{
    text-align: center;
    padding-top: 50px;
    color: #9682c8;
    font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin-bottom: 30px;
}
.contatos img{
  width: auto;
  height: 40px;
  margin-top: 20px;
  margin: 10px;
}
footer{
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 40px ;
}
